* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
}

.container {
    background-color: aliceblue;
    height: 100%;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}